body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #004d00;
}

h1, h2 {
  font-family: 'Roboto', sans-serif;
  color: #004d00;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  margin-top: 10px;
}

input, select, button {
  padding: 10px;
  margin-top: 5px;
  font-size: 16px;
}

button {
  margin-top: 20px;
  background-color: #004d00;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #003300;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #e6ffe6;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #004d00;
  display: flex;
  justify-content: space-between;
}

.delete-btn {
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
}

.buttons {
  display: flex;
  gap: 10px;
}
